<h1>Add Trip</h1>
<%= form_with(model: @trip, local: true) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, required: true, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.label :duration%>
    <%= f.number_field :duration, min: 0 %>
  </div>
  <%= f.submit %>
<% end %>
